---
title: Contact Daemon Consulting
---

<div class="contact">
  <div class="contact-subhead">
  	<!-- <span class="icon-chat"></span> -->
  	<div class="hello">
  	  <span class="hello-header">Hello,</span>
  	    want to talk about getting your technology to work harder for you?</div>
    </div><!-- .hello -->
</div><!-- .subhead -->

<div class="contact-body">
<p><span class="icon-phone"></span> (403) 830-5365</p>
<p><span class="icon-envelope-alt"></span> <a href="mailto:contact@daemonconsulting.ca">contact@daemonconsulting.ca</a></p>
<p><span class="icon-twitter3"></span> <%= link_to "@askdaemon", "http://twitter.com/askdaemon" %></p>
</div>


</div><!-- .home -->