---
title: About Daemon Consulting
---

<div class="about">
  <div class="about-subhead">
  <div class="supporting">Supporting people like you...</div>
  <div class="twenty-years">for more than 20 years</div>
</div>

<div class="helping">
	Helping you with:
	<ul>
		<li>technical support</li>
		<li>systems’ maintenance</li>
		<li>backup</li>
		<li>procurement</li>
		<li>greening your I.T.</li>
		<li>enterprise resource planning</li>
		<li>networking</li>
		<li>technology roadmap</li>
		<li>mobile tools</li>
		<li>cloud services</li>
	</ul>
</div>

</div><!-- .about -->