---
title: About Daemon Consulting
---

<div class="about">
  <p class="subhead">
  	&quot;The best design is the simplest
  	￼￼one that works.&quot;
  	<span class="icon-lightbulb"></span>
  </p><!-- .subhead -->
</div><!-- .home -->