---
title: Welcome to Daemon Consulting
---

<div class="home">
  <p class="subhead">
  	&quot;The best design is the simplest
  	￼￼one that works.&quot; <span class="quotedby">Albert Einstein</span>
  	<span class="icon-lightbulb"></span>
  </p><!-- .subhead -->

  <div class="home-body">
  <p>	Our passion is to ensure your information technology does what it is
<span class="emphasis">intended</span> to do so your company can focus on what it does <span class="emphasis">best</a>.
<p class="how">How do we do that?</p>
  </div>

</div><!-- .home -->